@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
@inject UserManager<User> _userManager;

@using MyTeaApp.Models.ViewModels;

@model UserInfoVM;


<div id="myTea" class="col">

    <h1 class="title">Details</h1>

    <div class="col flex-wrap">
        <div>
            <h4>User</h4>

            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AdmissionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DepartmentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(userModel => userModel.IsActive)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.FullName
                        </td>
                        <td>
                            @Model.AdmissionDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Model.DepartmentName
                        </td>
                        <td>
                            @Model.RoleName
                        </td>
                        <td>
                            @Model.IsActive
                        </td>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }
</style>