@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
@inject UserManager<User> _userManager;

@using MyTeaApp.Models.ViewModels;

@{
    var userModel = new UserInfoVM();
}
@model IEnumerable<UserInfoVM>;

<div id="myTea" class="col">
    <h1 class="title display-6 mb-4">User Management</h1>

    <p>
        <a class="btn btn-outline-info mt-2" asp-action="Register">Create New</a>
    </p>

    <partial name="_UserFilterPartial" model="Model" view-data="ViewData"></partial>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(userModel => userModel.FullName)</th>
                    <th>@Html.DisplayNameFor(userModel => userModel.AdmissionDate)</th>
                    <th>@Html.DisplayNameFor(userModel => userModel.DepartmentName)</th>
                    <th>@Html.DisplayNameFor(userModel => userModel.RoleName)</th>
                    <th>@Html.DisplayNameFor(userModel => userModel.IsActive)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @if(Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            <h4 class="opacity-50">No users to display</h4>
                        </td>
                    </tr>
                }
                @foreach(UserInfoVM user in Model)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.AdmissionDate.ToString("dd/MM/yyyy")</td>
                        <td>@user.DepartmentName</td>
                        <td>@user.RoleName</td>
                        <td>@user.IsActive</td>
                        <td>
                            <span>
                                <a class="icon mb-2" asp-action="EditUser" asp-controller="Account" asp-route-uid="@user.DbUserId"><i class="bi bi-pencil-square"></i></a>
                            </span>
                            <span>
                                <a class="delete mb-2" asp-action="Delete" asp-route-userId="@user.DbUserId"><i class="bi bi-trash"></i></a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }

    .icon {
        color: #0097B2 !important;
    }

     .icon:hover {
         color: darkblue;
     }

    .delete {
        color: red;
    }

    .delete:hover {
        color: darkblue;
    }

    .btn-outline-info {
        color: #0097B2 !important;
        border-color: #0097B2 !important;
    }

    .btn-outline-info:hover {
            color: white !important;
            border-color: #0097B2 !important;
            background-color: #0097B2 !important;
    }
</style>