@model MyTeaApp.Models.WBS

@{
    ViewData["Title"] = "Delete";
}

<div id="myTea" class="col">

    <h1 class="title">Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div class="container">
        <h4>WBS</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 col">
                @Html.DisplayNameFor(model => model.WbsName)
            </dt>
            <dt class = "col-sm-2 col">
                @Html.DisplayNameFor(model => model.WbsCod)
            </dt>
            <dd class="col-sm-10 col">
                @Html.DisplayFor(model => model.WbsCod)
            </dd>
            <dt class="col-sm-2 col">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10 col">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2 col">
                @Html.DisplayNameFor(model => model.IsChargeable)
            </dt>
            <dd class="col-sm-10 col">
                @Html.DisplayFor(model => model.IsChargeable)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="WbsId" />
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
            <a class="clear text-decoration-none" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }

    .clear {
        color: #0097B2;
    }

        .clear:hover {
            color: darkblue;
        }
</style>    