@model IEnumerable<MyTeaApp.Models.WBS>

@{
    ViewData["Title"] = "Index";
}

<div id="myTea" class="col">

    <form asp-controller="WBS" asp-action="IndexEmployee" method="get">
        <p>
            <input type="text" name="filtroWbs" placeholder="Search Title" />
            <input class="btn btn-sm btn-outline-info mr-3 ml-3" type="submit" value="Filter" />
            <a class="clear text-decoration-none" asp-action="IndexEmployee">Clear</a>
        </p>
    </form>


    @if (TempData["ToasterType"] != null)
    {
        Html.RenderPartial("~/Views/Partials/_NotificationPartial.cshtml", (string)TempData["ToasterType"]);
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WbsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WbsCod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsChargeable)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WbsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WbsCod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsChargeable)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }

    .clear {
        color: red;
        font-family: 'Arial', sans-serif !important;
        font-size: 0.9rem;
    }

        .clear:hover {
            color: #0097B2;
        }

    .btn-outline-info {
        color: #0097B2 !important;
        border-color: #0097B2 !important;
    }

        .btn-outline-info:hover {
            color: white !important;
            border-color: #0097B2 !important;
            background-color: #0097B2 !important;
        }
</style>