@model IEnumerable<MyTeaApp.Models.WBS>

@{
    ViewData["Title"] = "Index";
}

<div id="myTea" class="col">

    <h1 class="title">WBS</h1>

    <p>
        <a class="btn btn-outline-info mt-3" asp-action="Create">Create New</a>
    </p>

    <form asp-controller="WBS" asp-action="Index" method="get">

        <p>
            <input type="text" name="filtroWbs" placeholder="Search Title"/>
            <input class="btn btn-sm btn-outline-info mr-3 ml-3" type="submit" value="Filter" />
            <a class="clear text-decoration-none" asp-action="Index">Clear</a>
        </p>
    </form>


    @if (TempData["ToasterType"] != null)
    {
        Html.RenderPartial("~/Views/Partials/_NotificationPartial.cshtml", (string)TempData["ToasterType"]);
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WbsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WbsCod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsChargeable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WbsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WbsCod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsChargeable)
                </td>
                <td>
                        <a class="icon" asp-action="Edit" asp-route-id="@item.WbsId"><i class="bi bi-pencil-square"></i></a>
                        <a class="delete" asp-action="Delete" asp-route-id="@item.WbsId"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }

    .clear {
        color: red;
        font-family: 'Arial', sans-serif !important;
        font-size: 0.9rem;
    }

    .clear:hover {
        color: #0097B2;
    }

    .icon {
        color: #0097B2 !important;
    }

    .delete {
        color: red;
    }

    .delete:hover {
        color: red;
    }

    .btn-outline-info {
        color: #0097B2 !important;
        border-color: #0097B2 !important;
    }

    .btn-outline-info:hover {
            color: white !important;
            border-color: #0097B2 !important;
            background-color: #0097B2 !important;
    }
</style>