@model IEnumerable<MyTeaApp.Models.WBS>

@{
    ViewData["Title"] = "Index";
}

<div class="col">

    <p>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>

    <form asp-controller="WBS" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Title" name="searchString">
            <div class="input-group-append">
                <button class="btn btn-info" type="submit">Filter</button>
            </div>
        </div>
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </form>


    @if (TempData["ToasterType"] != null)
    {
        Html.RenderPartial("~/Views/Partials/_NotificationPartial.cshtml", (string)TempData["ToasterType"]);
    }


    <table class="table">
        <thead>
            <tr>
                <th class="title">
                    @Html.DisplayNameFor(model => model.WbsName)
                </th>
                <th class="title">
                    @Html.DisplayNameFor(model => model.WbsCod)
                </th>
                <th class="title">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="title">
                    @Html.DisplayNameFor(model => model.IsChargeable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WbsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WbsCod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsChargeable)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.WbsId">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.WbsId">Details</a> |
                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.WbsId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>

<style>
    body {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }
</style>