@model IEnumerable<MyTeaApp.Models.Department>

@{
    ViewData["Title"] = "Department";
}
<div class="col">
    <h1 class="title">Departments</h1>
    <p>
        <a class="btn btn-info mt-3 mb-3" asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Departments" asp-action="Index" method="get">
        <div class="input-group mb-5">
            <input type="text" class="form-control" placeholder="Search Title" name="searchString">
            <div class="input-group-append">
                <button class="btn btn-info" type="submit">Filter</button>
            </div>
        </div>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th class="title">
                    @Html.DisplayNameFor(model => model.DepartmentID)
                </th>
                <th class="title">
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th class="title"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.DepartmentID">Details</a> |
                        <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<style>
    body {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }
</style>
