@model IEnumerable<MyTeaApp.Models.Department>

@{
    ViewData["Title"] = "Department";
}
<div id="myTea" class="col">
    <h1 class="title">Departments</h1>
    <p>
        <a class="btn btn-outline-info mt-3 mb-3" asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Departments" asp-action="Index" method="get">

        <p class="mb-5">
            <input type="text" placeholder="Search Department" name="searchString" />
            <input class="btn btn-sm btn-outline-info" type="submit" value="Filter" />
            <a asp-action="Index" asp-controller="Departaments" class="clear text-decoration-none">Clear</a>
        </p>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        <a class="icon" asp-action="Edit" asp-route-id="@item.DepartmentID"><i class="bi bi-pencil-square"></i></a>
                        <a class="icon" asp-action="Details" asp-route-id="@item.DepartmentID"><i class="bi bi-info-circle"></i></a>
                        <a class="delete" asp-action="Delete" asp-route-id="@item.DepartmentID"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<style>
    #myTea {
        font-family: 'Arial', sans-serif !important;
    }

    .title {
        font-weight: bold;
        color: #0097B2 !important;
    }

    .clear {
        color: red;
        font-family: 'Arial', sans-serif !important;
    }

        .clear:hover {
            color: darkblue;
        }

    a:hover {
        color: darkblue;
    }

     .icon {
        color: #0097B2 !important;
    } 

    .delete {
        color: red;
    }

        .delete:hover {
            color: red;
        }

    .btn-outline-info{
        color: #0097B2 !important;
        border-color: #0097B2 !important;
    }

    .btn-outline-info:hover{
        color: white !important;
        border-color: #0097B2 !important;
        background-color: #0097B2 !important;
    }
</style>
